{% for article in articles %}
  <div>
    <h2>{{ article.titre }}</h2>
    <p><strong>Boutique :</strong> {{ article.shop.nom }}</p>  <!-- affiche le nom de la boutique -->
    <p><strong>Type :</strong> {{ article.get_type_contenu_display }}</p>

    {% if article.type_contenu == 'article' %}
      <p>{{ article.contenu }}</p>
    {% elif article.type_contenu == 'affiche' and article.image %}
      <img src="{{ article.image.url }}" width="400">
    {% elif article.type_contenu == 'podcast' and article.video %}
      <video width="400" controls>
        <source src="{{ article.video.url }}" type="video/mp4">
      </video>
    {% endif %}
    <p><em>Publié le {{ article.date_publication }}</em></p>
    <hr>
  </div>
{% endfor %}
